@charset "utf-8";

form {
  width: 100%;
  height: auto;
  padding-bottom: 0.5em;
  display: block;
}
form > div {
  width: 100%;
  height: auto;
  display: block;
}
form div[data-icon] {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}
button[type="submit"],
button[type="button"] {
  width: 90vw;
  height: auto;
  line-height: 2.8em;
  border-radius: 1.4em;
  background-color: #5bcc3f;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1.3em;
  display: inline-block;
  letter-spacing: 0.8em;
}
dl,
dt,
dd {
  width: 100%;
  height: auto;
  display: block;
}
dt {
  padding: 0 0.5em;
}
dt h3 {
  line-height: 2;
}
dt p {
  text-align: left;
  font-size: 0.7em;
}
dd {
  padding-top: 0.5em;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
}
dd div {
  border: solid 0.5em transparent;
  flex: auto;
}
dd div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  box-sizing: border-box;
  display: block;
}
dd div input {
  font-size: 8vw;
  text-align: center;
  cursor: pointer;
  z-index: 50;
}
