@charset "utf-8";

.login form,
.regist form {
  width: 100%;
  height: auto;
  padding-bottom: 0.8em;
  display: block;
}

.login form>div,
.regist form>div {
  width: 100%;
  height: auto;
  display: block;
}

.login form div[data-icon],
.regist form div[data-icon] {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}

.login button[type="submit"],
.login button[type="button"],
.regist button[type="submit"],
.regist button[type="button"] {
  width: 100%;
  height: auto;
  line-height: 2.4em;
  border-radius: 1.2em;
  background-color: #5bcc3f;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1.3em;
  display: inline-block;
}

.login dl,
.login dt,
.login dd {
  width: 100%;
  height: auto;
  display: block;
}

.login dt {
  padding: 0 0.5em;
}

.login dt h3 {
  line-height: 2;
}

.login dt p {
  text-align: left;
  font-size: 0.7em;
}

.login dd {
  padding-top: 0.5em;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
}

.login dd div {
  border: solid 0.5em transparent;
  flex: auto;
}

.login dd div:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  box-sizing: border-box;
  display: block;
}

.login dd div input {
  font-size: 8vw;
  text-align: center;
  cursor: pointer;
  z-index: 50;
}

div[data-half] input {
  width: calc(50% - 2.5vw);
  display: inline-block;
}

div[data-half] input:first-of-type {
  margin-right: 2vw;
}

div[data-half] input:last-of-type {
  margin-left: 2vw;
}

div[data-children] {
  padding-right: 0;
  height: auto;
  line-height: 0;
}

div[data-children] span {
  width: 100%;
  height: auto;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
  padding-right: 0.8em;
  padding-bottom: 0.1em;
  display: inline-block;
}

div[data-children] span:last-of-type {
  border: none;
  padding-bottom: 0;
}

div[data-children] span>input {
  padding-top: 0.8em;
  height: 2em;
}
